<template>
  <v-container>
    <v-row>
      <v-col cols="12" sm="8" class="mx-auto">
        <v-card class="mb-5">
          <v-container>
            <v-card-title>Add New Product</v-card-title>
            <v-card-text>
              <v-form ref="form" v-model="valid">
                <v-select
                  :items="productTypes"
                  label="Product type"
                  v-model="productType"
                  :rules="[rules.required]"
                  outlined
                ></v-select>
                <v-text-field
                  v-model="name"
                  label="Name"
                  :rules="[rules.required]"
                ></v-text-field>
                <v-text-field
                  type="number"
                  v-model="unitPurchaseCost"
                  label="Purchase cost per unit"
                  prefix="$"
                  :rules="[rules.required, rules.greaterThanZero]"
                ></v-text-field>
                <v-text-field
                  type="number"
                  v-model="unitSellingCost"
                  label="Selling cost per unit"
                  prefix="$"
                  :rules="[rules.required, rules.greaterThanZero]"
                ></v-text-field>
                <v-text-field
                  type="number"
                  v-model="quantity"
                  label="Quantity"
                  :rules="[
                    rules.required,
                    rules.greaterThanZero,
                    rules.nonDecimal
                  ]"
                ></v-text-field>
                <v-text-field
                  type="number"
                  v-model="unitsSold"
                  label="Number of units sold"
                  :rules="[
                    rules.required,
                    rules.greaterOrEqualZero,
                    rules.nonDecimal
                  ]"
                ></v-text-field>

                <v-card-actions>
                  <v-btn
                    :loading="loading ? true : false"
                    :disabled="loading || !valid ? true : false"
                    color="primary"
                    large
                    class="mx-auto mb-5"
                    @click="addProduct"
                  >
                    Add Product
                    <template v-slot:loader>
                      <span class="custom-loader">
                        <v-icon light>mdi-cached</v-icon>
                      </span>
                    </template>
                  </v-btn>
                </v-card-actions>
              </v-form>
            </v-card-text>
          </v-container>
          <SnackBar :msg="msg"></SnackBar>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import SnackBar from "@/components/SnackBar.vue";
import { mapState } from "vuex";
export default {
  components: {
    SnackBar
  },
  computed: {
    ...mapState(["user", "error", "success", "loading", "productTypes"])
  },
  watch: {
    success() {
      if (this.success) {
        this.$refs.form.reset();
      }
    }
  },
  data() {
    return {
      name: "",
      unitPurchaseCost: 0,
      unitSellingCost: 0,
      productType: "",
      quantity: 0,
      unitsSold: 0,
      valid: false,
      rules: {
        required: value => !!value || "Required.",
        greaterThanZero: value =>
          value > 0 || "The value must be greater than zero",
        greaterOrEqualZero: value =>
          value >= 0 || "The value must be greater or equal zero",
        nonDecimal: value =>
          Number.isInteger(Number(value)) ||
          "The value must be an integer number."
      },
      timeOut: 0,
      msg: "Product added"
    };
  },
  methods: {
    addProduct() {
      const payload = {
        name: this.name,
        unitPurchaseCost: this.unitPurchaseCost,
        unitSellingCost: this.unitSellingCost,
        productType: this.productType,
        quantity: this.quantity,
        unitsSold: this.unitsSold,
        profitPercentage: this.profitPercentage()
      };
      this.$store.dispatch("addProduct", payload);
    },
    profitPercentage() {
      const totalPurchaseCost = this.unitPurchaseCost * this.quantity;
      const totalSellingCost = this.unitSellingCost * this.unitsSold;
      const profit = totalSellingCost - totalPurchaseCost;
      const profitPercentage = (profit / totalPurchaseCost) * 100;
      return profitPercentage.toFixed(2);
    }
  }
};
</script>
<style>
.custom-loader {
  animation: loader 1s infinite;
  display: flex;
}
@-moz-keyframes loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@-o-keyframes loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
</style>
