<template>
  <v-container>
    <v-row>
      <v-col>
        <v-card>
          <v-container>
            <v-card-title>
              All products
              <v-spacer></v-spacer>
              <v-text-field
                v-model="search"
                append-icon="mdi-magnify"
                label="Search"
                single-line
                hide-details
              >
              </v-text-field>
            </v-card-title>
            <v-data-table
              :headers="headers"
              :items="products"
              :search="search"
              :loading="loading"
              loading-text="Loading... Please wait"
            >
              <template v-slot:[`item.unitSellingCost`]="slotProps">
                {{ slotProps.item.unitSellingCost }}$
              </template>
              <template v-slot:[`item.profitPercentage`]="slotProps">
                {{ slotProps.item.profitPercentage }}%
              </template>
              <template v-slot:[`item.action`]="{ item }">
                <confirm-delete-dialog :item="item"></confirm-delete-dialog>
                <v-btn
                  color="primary"
                  small
                  outlined
                  class="mb-2 mt-2 mr-2"
                  :to="{ name: 'product', params: { id: item.id } }"
                >
                  Edit
                </v-btn>
              </template>
            </v-data-table>
            <SnackBar :msg="msg"></SnackBar>
          </v-container>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import { mapState } from "vuex";
import SnackBar from "@/components/SnackBar.vue";
import ConfirmDeleteDialog from "@/components/ConfirmDeleteDialog.vue";
export default {
  components: {
    ConfirmDeleteDialog,
    SnackBar
  },
  computed: {
    ...mapState(["loading", "products", "error", "success"])
  },
  data() {
    return {
      search: "",
      msg: "Product deleted",
      headers: [
        { text: "Name", sortable: false, value: "name" },
        {
          text: "Price",
          align: "center",
          sortable: false,
          value: "unitSellingCost"
        },
        {
          text: "Product Type",
          align: "center",
          sortable: false,
          value: "productType"
        },
        {
          text: "Profit Percentage",
          align: "center",
          sortable: false,
          value: "profitPercentage"
        },
        { text: "Action", align: "center", sortable: false, value: "action" }
      ]
    };
  },
  methods: {}
};
</script>
