<template>
  <v-container>
    <v-row>
      <v-col cols="12" sm="8" class="mx-auto">
        <v-card class="mb-5">
          <v-container>
            <v-card-title>Edit Product</v-card-title>
            <v-card-text>
              <v-form ref="form" v-model="valid">
                <v-select
                  :items="productTypes"
                  label="Product type"
                  v-model="product.productType"
                  :rules="[rules.required]"
                  outlined
                ></v-select>
                <v-text-field
                  v-model="product.name"
                  label="Name"
                  :rules="[rules.required]"
                ></v-text-field>
                <v-text-field
                  type="number"
                  v-model="product.unitPurchaseCost"
                  label="Purchase cost per unit"
                  prefix="$"
                  :rules="[rules.required, rules.greaterThanZero]"
                ></v-text-field>
                <v-text-field
                  type="number"
                  v-model="product.unitSellingCost"
                  label="Selling cost per unit"
                  prefix="$"
                  :rules="[rules.required, rules.greaterThanZero]"
                ></v-text-field>
                <v-text-field
                  type="number"
                  v-model="product.quantity"
                  label="Quantity"
                  :rules="[
                    rules.required,
                    rules.greaterThanZero,
                    rules.nonDecimal
                  ]"
                ></v-text-field>
                <v-text-field
                  type="number"
                  v-model="product.unitsSold"
                  label="Number of units sold"
                  :rules="[
                    rules.required,
                    rules.greaterOrEqualZero,
                    rules.nonDecimal
                  ]"
                ></v-text-field>

                <v-card-actions>
                  <v-btn
                    :loading="loading"
                    :disabled="loading || !valid ? true : false"
                    color="primary"
                    large
                    class="mx-auto mb-5"
                    @click="onSaveChanges"
                  >
                    Save
                    <template v-slot:loader>
                      <span class="custom-loader">
                        <v-icon dark>mdi-cached</v-icon>
                      </span>
                    </template>
                  </v-btn>
                </v-card-actions>
              </v-form>
            </v-card-text>
          </v-container>
          <SnackBar :msg="msg"></SnackBar>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import SnackBar from "@/components/SnackBar.vue";
import { mapState } from "vuex";
export default {
  components: {
    SnackBar
  },
  props: ["id"],
  computed: {
    ...mapState(["productTypes", "loading", "error", "success"]),
    product() {
      return this.$store.getters.loadProduct(this.id);
    }
  },
  data() {
    return {
      valid: false,
      msg: "Product updated",
      rules: {
        required: value => !!value || "Required.",
        greaterThanZero: value =>
          value > 0 || "The value must be greater than zero",
        greaterOrEqualZero: value =>
          value >= 0 || "The value must be greater or equal zero",
        nonDecimal: value =>
          Number.isInteger(Number(value)) ||
          "The value must be an integer number."
      }
    };
  },
  methods: {
    onSaveChanges() {
      const payload = {
        id: this.id,
        name: this.product.name,
        unitPurchaseCost: this.product.unitPurchaseCost,
        unitSellingCost: this.product.unitSellingCost,
        productType: this.product.productType,
        quantity: this.product.quantity,
        unitsSold: this.product.unitsSold,
        profitPercentage: this.profitPercentage()
      };
      this.$store.dispatch("updateProduct", payload);
    },
    profitPercentage() {
      const totalPurchaseCost =
        this.product.unitPurchaseCost * this.product.quantity;
      const totalSellingCost =
        this.product.unitSellingCost * this.product.unitsSold;
      const profit = totalSellingCost - totalPurchaseCost;
      const profitPercentage = (profit / totalPurchaseCost) * 100;
      return profitPercentage.toFixed(2);
    }
  }
};
</script>

<style lang="scss" scoped></style>
