<template>
  <v-app-bar app dense color="primary" dark>
    <v-app-bar-nav-icon
      class="show-in-mobile-only"
      @click.stop="$emit('toggle-drawer')"
    />
    <v-toolbar-title class="d-md-none">
      E-commerce Admin Dashboard
    </v-toolbar-title>
    <v-spacer />
    <v-btn text :to="{ name: 'About' }">About</v-btn>
  </v-app-bar>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped></style>
