<template>
  <v-navigation-drawer
    v-model="drawer"
    app
    dark
    mobile-breakpoint="960"
    width="225"
    color="rgb(25, 24, 24)"
  >
    <v-list class="pa-0">
      <v-list-item class="primary title">
        Admin Dashboard
      </v-list-item>
    </v-list>

    <v-list three-line color="#0000004f">
      <v-list-item class="text-center">
        <v-list-item-content>
          <v-icon color="primary" size="24">mdi-account-circle</v-icon>
          <v-list-item-title
            class="button font-weight-medium grey--text text--lighten-1 mt-2"
            >Admin</v-list-item-title
          >
        </v-list-item-content>
      </v-list-item>
    </v-list>

    <v-list class="pa-0">
      <v-list-item to="/">
        <v-list-item-icon>
          <v-icon> mdi-home-outline </v-icon>
        </v-list-item-icon>
        <v-list-item-content>
          <v-list-item-title> Home </v-list-item-title>
        </v-list-item-content>
      </v-list-item>

      <v-list-group
        v-for="item in menuItems"
        :key="item.title"
        no-action
        :prepend-icon="item.icon"
        active-class="active-control"
      >
        <template v-slot:activator>
          <v-list-item-content>
            <v-list-item-title v-text="item.title"></v-list-item-title>
          </v-list-item-content>
        </template>
        <v-list-item
          v-for="subItem in item.items"
          :key="subItem.title"
          :to="subItem.link"
        >
          <v-list-item-content>
            <v-list-item-title v-text="subItem.title"></v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list-group>

      <v-list-item @click="onLogout">
        <v-list-item-icon>
          <v-icon> mdi-logout-variant </v-icon>
        </v-list-item-icon>
        <v-list-item-content>
          <v-list-item-title> Logout </v-list-item-title>
        </v-list-item-content>
      </v-list-item>
    </v-list>
  </v-navigation-drawer>
</template>

<script>
// import { mapState } from 'vuex'
export default {
  data() {
    return {
      drawer: true,
      menuItems: [
        {
          icon: "mdi-account-multiple-outline",
          title: "Products",
          items: [
            { title: "All Products", link: "/products/all-products" },
            { title: "Add Product", link: "/products/add-product" }
          ]
        }
      ]
    };
  },
  computed: {
    // ...mapState(['user', 'loading'])
  },
  methods: {
    onLogout() {
      this.$store.dispatch("logOut");
    }
  }
};
</script>

<style lang="scss">
.active-control {
  background: black;
}

.v-list-item {
  &__icon {
    margin-right: 10px !important;
  }
  &__title {
    font-size: 0.875rem;
  }
  &--active::before,
  &--active:hover::before {
    opacity: 0 !important;
  }
}

.v-application--is-ltr
  .v-list-group--no-action
  > .v-list-group__items
  > .v-list-item {
  padding-left: 49px !important;
}

.mdi-chevron-down::before {
  display: none;
}
</style>
