<template>
  <v-app>
    <v-content>
      <v-container>
        <v-row>
          <v-col col="12" sm="6" class="mx-auto">
            <v-alert type="error" prominent max-height="150" max-width="500">
              Oops! 404 page not found!
            </v-alert>
          </v-col>
        </v-row>
      </v-container>
    </v-content>
  </v-app>
</template>
