<template>
  <v-app>
    <v-app-bar dense flat app color="primary" dark>
      <v-toolbar-title>
        E-commerce Admin Dashboard
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <v-btn class="primary" text :to="{ name: 'home' }">Home</v-btn>
    </v-app-bar>
    <v-main>
      <v-container>
        <v-card elevation="2" outlined shaped tile>
          <v-card-title>
            This is an about page
          </v-card-title>
          <v-card-text>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus
            eget interdum nisi. Etiam aliquam risus in nunc dictum, sit amet
            tincidunt enim sagittis. Nunc euismod efficitur odio ullamcorper
            iaculis. Vivamus vel eros sed nibh viverra vulputate. Vestibulum
            nisi nisi, pellentesque in magna et, imperdiet feugiat mauris. Donec
            sodales malesuada metus nec malesuada. Fusce laoreet maximus tellus
            nec ornare. Nam consectetur nibh malesuada metus pulvinar molestie.
            Phasellus id dolor sem. Integer faucibus urna at leo elementum, ac
            cursus dolor efficitur.
          </v-card-text>
        </v-card>
      </v-container>
    </v-main>
  </v-app>
</template>
