<template>
  <v-app>
    <AppBar @toggle-drawer="$refs.drawer.drawer = !$refs.drawer.drawer" />
    <NavigationDrawer ref="drawer" />
    <v-main class="content-wrap">
      <v-container fluid>
        <router-view></router-view>
      </v-container>
    </v-main>
  </v-app>
</template>

<script>
import AppBar from "@/components/layout/AppBar";
import NavigationDrawer from "@/components/layout/NavigationDrawer";

export default {
  components: {
    AppBar,
    NavigationDrawer
  },
  data() {
    return {};
  }
};
</script>
<style lang="scss">
.content-wrap {
  background: #8080801a;
}
</style>
