<template>
  <v-container>
    <v-card class="mx-auto text-center">
      <v-card-text>
        <v-sheet color="rgba(0, 0, 0, .07)">
          <line-chart
            :messages="{ empty: 'No data' }"
            :colors="['#00838F', '#666']"
            :data="profitableProducts"
            suffix="%"
            ytitle="Profit percentage"
            xtitle="Product name"
          ></line-chart>
        </v-sheet>
      </v-card-text>

      <v-card-text>
        <div class="display-1 font-weight-thin">
          Top 5 profitable products
        </div>
      </v-card-text>
    </v-card>
        
    <v-card class="mx-auto text-center">
      <v-card-text>
        <v-sheet color="rgba(0, 0, 0, .07)">
          <column-chart
            :messages="{ empty: 'No data' }"
            :colors="['#00838F', '#666']"
            :data="totalProductsSoldPerProduct"
            ytitle="Number of units sold"
            xtitle="Product name"
          ></column-chart>
        </v-sheet>
      </v-card-text>

      <v-card-text>
        <div class="display-1 font-weight-thin">
          Total products sold
        </div>
      </v-card-text>
    </v-card>
  </v-container>
</template>

<script>
// @ is an alias to /src
// import { mapState } from "vuex";

export default {
  computed: {
    //derive chartData object from profitableProducts array

    profitableProducts() {
      const products = this.$store.getters.profitableProducts;
      const chartData = {};
      products.forEach(element => {
        chartData[element.name] = element.profitPercentage;
      });
      return chartData;
    },
    totalProductsSoldPerProduct () {
      const chartData = this.$store.getters.totalProductsSoldPerProduct
      return chartData
    }
  },
  name: "Home",
  components: {},
  data: () => ({})
};
</script>
