<template>
  <v-app>
    <v-app-bar dense flat absolute color="primary">
      <v-spacer></v-spacer>
      <v-btn class="primary" text :to="{ name: 'About' }">About</v-btn>
    </v-app-bar>
    <v-main>
      <v-row align="center" class="signup-wrapper fill-height">
        <v-col col="12" sm="6" class="mx-auto">
          <v-card class="mt-5 text-left">
            <v-card-title>
              Login credentials
            </v-card-title>
            <v-card-text>
              <div><strong class="mr-1">Email</strong> admin@test.com</div>
              <div><strong class="mr-1">Password</strong> 123456</div>
            </v-card-text>
          </v-card>
          <v-card class="mt-5">
            <v-alert type="error" dismissible @input="onDismissed" v-if="error">
              Incorrect credentials
            </v-alert>
            <v-card-text>
              <v-container>
                <v-form ref="form" @submit.prevent="onSignIn">
                  <v-text-field
                    class="mb-5"
                    v-model="email"
                    label="Email"
                    name="email"
                    type="email"
                    autocomplete="username"
                    :rules="[rules.required]"
                  ></v-text-field>
                  <v-text-field
                    label="Password"
                    v-model="password"
                    name="password"
                    :append-icon="show ? 'mdi-eye' : 'mdi-eye-off'"
                    :rules="[rules.required]"
                    :type="show ? 'text' : 'password'"
                    @click:append="show = !show"
                    autocomplete="new-password"
                  ></v-text-field>
                  <v-btn
                    :loading="loading ? true : false"
                    :disabled="loading ? true : false"
                    class="primary mt-2"
                    type="submit"
                  >
                    Sign In
                    <template v-slot:loader>
                      <span class="custom-loader">
                        <v-icon light>mdi-cached</v-icon>
                      </span>
                    </template>
                  </v-btn>
                </v-form>
              </v-container>
            </v-card-text>
          </v-card>
        </v-col>
      </v-row>
    </v-main>
  </v-app>
</template>

<script>
import { mapState } from "vuex";
export default {
  data() {
    return {
      show: false,
      email: "",
      password: "",
      rules: {
        // required: value => !!value || 'Required.',
        required: value => !!value || "Required."
      }
    };
  },
  computed: {
    ...mapState(["isLoggedIn", "error", "loading"])
  },
  watch: {
    isLoggedIn() {
      if (this.isLoggedIn) {
        this.$router.push("/");
      }
    }
  },
  methods: {
    onSignIn() {
      this.$store.dispatch("signInUser", {
        email: this.email,
        password: this.password
      });
    },
    onDismissed() {
      if (this.error) {
        this.$store.commit("setError", null);
      }
    }
  }
};
</script>

<style lang="scss" scoped>
.signup-wrapper {
  background: linear-gradient(
    90deg,
    rgba(4, 97, 99, 1) 0%,
    rgba(1, 185, 219, 1) 100%
  );
  text-align: center;
}
.maxHeight {
  height: 100vh;
}
</style>
