<template>
  <div>
    <v-snackbar v-model="snackbar1" color="error" :timeout="timeout" top>
      {{ error ? error.message : "" }}
      <v-btn dark text @click="onDismissed">
        Close
      </v-btn>
    </v-snackbar>
    <v-snackbar v-model="snackbar2" color="success" :timeout="timeout" top>
      {{ msg }}
      <v-btn dark text @click="onDismissed">
        Close
      </v-btn>
    </v-snackbar>
  </div>
</template>

<script>
import { mapState } from "vuex";
export default {
  name: "SnackBar",
  props: ["msg"],
  computed: {
    ...mapState(["error", "success"]),
    snackbar1: {
      get() {
        if (this.error !== null) {
          return true;
        } else {
          return false;
        }
      },
      set() {
        return false;
      }
    },
    snackbar2: {
      get() {
        if (this.success === true) {
          return true;
        } else {
          return false;
        }
      },
      set() {
        return false;
      }
    }
  },
  data() {
    return {
      timeout: 3500
    };
  },
  created() {
    this.$store.commit("setError", null);
    this.$store.commit("setSuccess", false);
  },
  methods: {
    onDismissed() {
      if (this.error) {
        this.$store.commit("setError", null);
      } else if (this.success) {
        this.$store.commit("setSuccess", false);
      }
    }
  }
};
</script>
